.inputChat {
  border: 2px solid rgb(185, 185, 185);
  border-radius: 30px;
  height: 46px;
  width: 95%;
  margin-left: 10px;
}
.chatMessage {
  height: 90%;
}
table{
  width: 100%;
  height: 50px;
}
ion-fab-button {
  width: 47px;
  height: 47px;
}
.message-line-outer-span {
  width: 100%;
  height: auto;
  color: white;
  font-size: large;
  margin-top: 5px;
  margin-right: 15px;
  margin-left: 15px;

}
.received-message-line {
  width: fit-content;
  max-width: 80%;
  background-color: rgb(0, 131, 131);
  border-radius: 20px;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
}
.sent-message-line {
  display: block;
  margin-left: auto;
  margin-right: 15px;
  height: fit-content;
  width: fit-content;
  max-width: 80%;
  background-color: rgb(158, 41, 173);
  border-radius: 20px;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
}
