<ion-header mode='ios'>
  <ion-toolbar>
    <ion-title>PlusPlus</ion-title>
    <button ion-button (click)="goToChatPage()">Chat</button>
    <button ion-button (click)="logOut()">Log Out</button>
  </ion-toolbar>
</ion-header>

<app-pre-chat-page></app-pre-chat-page>
<ion-content #content [scrollEvents]="true">
  <div class="chatMessage">
    <div *ngFor="let m of msg; let i = index" class="message-line-outer-span" >
      <div *ngIf="whoseMessage(msg[i].sender)" class="sent-message-line">
        {{msg[i].message}}
      </div>
      <div *ngIf="!whoseMessage(msg[i].sender)" class="received-message-line">
        {{msg[i].message}}
      </div><br>
    </div>
  </div>
</ion-content>

<ion-footer style="margin-bottom: 10px; margin-top: 10px;">
  <form [formGroup]='msgForm'>
    <div class="input-container">
        <div class="input-chat">
          <ion-input  formControlName="msgInput"></ion-input>
        </div>
        <div class="send-button">
          <ion-fab-button (click)="onSend()">
            <ion-icon name="send"></ion-icon>
          </ion-fab-button>
        </div>
    </div>
  </form>
</ion-footer>
