<ion-header mode='ios'>
  <ion-toolbar>
    <ion-title>PlusPlus</ion-title>
    <button ion-button (click)="goToChatPage()">Chat</button>
    <button ion-button (click)="logOut()">Log Out</button>
  </ion-toolbar>
</ion-header>

<ion-content #content [scrollEvents]="true">
  <div class="chatMessage">
    <div *ngFor="let m of msg; let i = index" class="message-line-outer-span" >
      <div *ngIf="whoseMessage(msg[i].sender)" class="sent-message-line">
        {{msg[i].message}}
      </div>
      <div *ngIf="!whoseMessage(msg[i].sender)" class="received-message-line">
        {{msg[i].message}}
      </div><br>
    </div>
  </div>
</ion-content>

<ion-footer style="width: 100%; margin-bottom: 10px; margin-top: 10px;">
  <form [formGroup]='msgForm'>
    <table>
      <tr style="width: 100%;">
        <td style="width: 90%;">
          <ion-input class="inputChat" formControlName="msgInput"></ion-input>
        </td>
        <td style="width: 10%; padding-right: 10px;">
          <ion-fab-button (click)="onSend()">
            <ion-icon name="send"></ion-icon>
          </ion-fab-button>
        </td>
      </tr>
    </table>
  </form>
</ion-footer>
